In this notebook, we will see how to analysis the A/B testing step by step. In simple terms, **how does an average A/B test analysis process look like?**. 

<p style="text-align:center;"><img src="images/analysis_report.png" width="500px"></p>


6 step -> Often it's a combination of either a report written with the code embedded into it or a combination of a presentation for the non technical stakeholders and a python notebook. 


Let's see in code :

## A/B Test Analysis:

In [2]:
!pip install altair

Collecting altair
  Downloading altair-5.2.0-py3-none-any.whl.metadata (8.7 kB)
Requirement already satisfied: jinja2 in /home/codespace/.local/lib/python3.10/site-packages (from altair) (3.1.3)
Requirement already satisfied: jsonschema>=3.0 in /home/codespace/.local/lib/python3.10/site-packages (from altair) (4.21.1)
Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.10/site-packages (from altair) (1.26.4)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.10/site-packages (from altair) (23.2)
Requirement already satisfied: pandas>=0.25 in /home/codespace/.local/lib/python3.10/site-packages (from altair) (2.2.1)
Collecting toolz (from altair)
  Downloading toolz-0.12.1-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: typing-extensions>=4.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from altair) (4.10.0)
Requirement already satisfied: attrs>=22.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from jsonschema>=3.0->altair) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /home/codespace/.local/lib/python3.10/site-packages (from jsonschema>=3.0->altair) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /home/codespace/.local/lib/python3.10/site-packages (from jsonschema>=3.0->altair) (0.33.0)
Requirement already satisfied: rpds-py>=0.7.1 in /home/codespace/.local/lib/python3.10/site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=0.25->altair) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=0.25->altair) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=0.25->altair) (2024.1)
Requirement already satisfied: MarkupSafe>=2.0 in /home/codespace/.local/lib/python3.10/site-packages (from jinja2->altair) (2.1.5)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=0.25->altair) (1.16.0)
Downloading altair-5.2.0-py3-none-any.whl (996 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 996.9/996.9 kB 3.9 MB/s eta 0:00:0000:0100:01
Downloading toolz-0.12.1-py3-none-any.whl (56 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 56.1/56.1 kB 1.6 MB/s eta 0:00:00
Installing collected packages: toolz, altair
Successfully installed altair-5.2.0 toolz-0.12.1

In [3]:
import pandas as pd 
import numpy as np 
import altair as alt 
from datetime import datetime 

alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [4]:
data = pd.read_csv("/workspaces/Learn_AB_Testing/1__Introduction/data/Assignments.csv")
data.head()

                                 userid                    ts  groupid
0  c5d77c89-33a3-4fe3-9e31-179dec09d49c  2021-11-02T07:31:42Z        0
1  9061d751-7a94-44d3-8792-5ca5ec59aa89  2021-11-13T07:43:51Z        0
2  a5b70ae7-f07c-4773-9df4-ce112bc9dc48  2021-11-20T19:26:07Z        0
3  d2646662-269f-49de-aab1-8776afced9a3  2021-11-20T11:09:02Z        0
4  2d9b23b7-4e5e-4162-9f0f-49e593fdd2b5  2021-11-04T07:42:07Z        0

**ts** -> time stamp

**groupid** -> its simply a test and control group. Commonly for the test group it's `1` and forr the control group `0`.

In [7]:
data['dt'] = data['ts'].map(lambda x: datetime.strptime(x, "%Y-%m-%dT%H:%M:%SZ").strftime("%Y-%m-%d"))

In [9]:
data.describe()

            groupid
count  60000.000000
mean       0.500817
std        0.500003
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000

In [10]:
data.groupby(['groupid']).count()

## control group: 0
## test group:  1

         userid     ts     dt
groupid
0         29951  29951  29951
1         30049  30049  30049